.comments {
  margin: 1rem auto 0;
  max-width: 60rem;
  padding: 0 1rem;
}
.comment-wrap {
  margin-bottom: 1.25rem;
  display: table;
  width: 100%;
  min-height: 5rem;
}
.comment-block {
  padding: 1rem;
  vertical-align: top;
  border-radius: 0.1875rem;
}
.comment-area {
  width: 100%;
  margin: 1rem 0;
  border-color: #ddd;
  border-radius: 3px;
}
.selected-motivation {
  color: #ddd;
  font-weight: bolder;
}
.comment-block textarea {
  width: 100%;
  resize: none;
}

.comment-text {
  margin-bottom: 1.25rem;
}
.milestone-button {
  width: 100%;
  height: 5rem;
}
