/********************************
              MODULES
 ********************************/


/* Comments
   ----------------------------- */
.comments {
    margin: 1rem auto 0;
    max-width: 60rem;
    padding: 0 1rem;
}
.comment-wrap {
    margin-bottom: 1.25rem;
    display: table;
    width: 100%;
    min-height: 5rem;
}
.comment-block {
    padding: 1rem;
    vertical-align: top;
    border-radius: 0.1875rem;
}
.comment-area {
    width: 100%;
    margin: 1rem 0;
    border-color: #ddd;
    border-radius: 3px;
}
.selected-motivation {
    color: #ddd;
    font-weight: bolder;
}
.comment-block textarea {
    width: 100%;
    resize: none;
}
.comment-text {
    margin-bottom: 1.25rem;
}
.milestone-button {
    width: 100%;
    height: 5rem;
}
/* Feed Detail
   ----------------------------- */
.container {
    border: 3px solid black;
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
    .item {
        border: 1px solid grey;
        margin: 10px;
        padding: 10px;
        background-color: #lightblue;
    }
}
/* Project Creation
  ------------------------------ */
.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}
.uib-datepicker {
    margin: 0 auto;
}
.biglength {
    font-size: 2rem;
    font: red;
}
.mile {
  width: 10rem;
}
.milestonebtn {
  margin: 0 auto;
}
/* Projects View
  ------------------------------ */
.project-container {
    margin: 0 auto;
    width: 100%;
    max-width: 760px;
}
.projects {
    margin: 1rem auto;
    border: 1px solid #ddd;
    border-radius: 1px;
}
.project-meta {
    display: flex;
    margin: 0 auto;
}
.project-info {
    margin-top: 2rem;
}
.img-wrap {
    position: relative;
    height: 180px;
    overflow: hidden;
}
.project-img {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}
.project-avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    margin: 1rem;
}
.project-info {
    margin: 1rem;
    // text-align: center;
}
.project-description {
    display: flex;
    font-size: 1.2rem;
}
.project-progress {
    margin: 0.5rem;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 1rem;
}
/* Login / Register
  ------------------------------ */
.login {
    margin: 0 auto;
    max-width: 300px;
}
.login-title {
    text-align: center;
    color: #777;
}
.login-form {
    text-align: center;
}
.control-group {
    margin-bottom: 10px;
}
input {
    text-align: center;
    background-color: #ECF0F1;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    padding: 0.75rem 0;
    width: 100%;
}
.login-link {
    color: #444;
    margin-top: 10px;
}
/* Navigation
  ------------------------------ */
.navbar {
    margin-bottom: 0;
}
.navbar-brand {
    text-align: center;
    font-size: 0.8rem;
}
.glyphicon-heart {
    color: red;
}
.banner {
    position: relative;
    width: 100vw;
    height: 66vh;
    top: 0;
    left: 0;
}
.banner-close {
    z-index: 1000;
    position: absolute;
    color: white;
    font-size: 1.5rem;
    margin: 0.25rem;
}
.innerBanner {
    width: 100vw;
    height: 66vh;
}
header {
    position: absolute;
    top: 0;
    width: 100%;
}
.headline {
    margin: 0 auto;
    padding-top: 20vh;
    height: 60vh;
    text-align: center;
    color: #FFF;
}
.headlineLink {
    color: rgba(255,255,255,0.85);
    line-height: 30px;
    padding: 1rem;
    border: 1px solid rgba(255,255,255,0.3);
    -webkit-border-radius: 2rem;
    border-radius: 2rem;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.headlineLink:hover {
    background: #fff;
    color: Gray;
}
/* Profile
  ------------------------------ */
/* CSS design by @jofpin */
.profile-container {
    margin: 5rem auto;
    width: 50%;
    max-width: 480px;
}
.user-profile {
    margin: 8rem auto 0;
    width: 25em;
    height: 11em;
    background: #fff;
    border-radius: 0.3em;
}
.user-profile .username {
    margin: -4.40em auto auto 5.80em;
    font-size: 1.53em;
    font-weight: bold;
}
.user-profile .bio {
    margin: auto;
    display: inline-block;
    margin-left: 10.43em;
    font-size: 0.87em;
}
.user-profile > .description {
    margin: 1.35em 4.43em auto auto;
    width: 14em;
    font-size: 0.87em;
}
.avatar {
    padding: 0.7em;
    margin-left: 0.3em;
    margin-top: 0.3em;
    height: 6.23em;
    width: 6.23em;
    border-radius: 18em;
}
