.login {
margin: 0 auto;
max-width: 300px;
}
.login-title {
text-align: center;
color: #777;
}
.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}
input {
text-align: center;
background-color: #ECF0F1;
border: none;
border-radius: 3px;
font-size: 1rem;
padding: .75rem 0;
width: 100%;
}

.login-link {
  color: #444;
	margin-top: 10px;
}
