.login {
margin: 0 auto;
max-width: 300px;
}
.login-title {
text-align: center;
color: #777;
}
.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}
input {
text-align: center;
background-color: #ECF0F1;
border: none;
border-radius: 3px;
font-size: 1rem;
padding: .75rem 0;
width: 100%;
}
.btn {
  border: none;
  background: #3498DB;
  color: #FFF;
  font-size: 1.2rem;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  border-radius: 3px;
  transition: 0.25s;
  width: 200px;
  margin: 0 auto;
}
.btn:hover {
  background-color: #2980B9;
}
.login-link {
  color: #444;
	margin-top: 10px;
}
