.container {
  border: 1px solid grey;
  margin: 10px;
  padding: 10px;
  background-color: #77ee77;


  .item {
    border: 1px solid grey;
    margin: 10px;
    padding: 10px;
    background-color: #lightblue;
  }
}
