.project-container {
  margin:0 auto;
  width: 100%;
  max-width: 760px;
}
.projects {
  margin: 1rem auto;
  border: 1px solid #ddd;
  border-radius: 1px;
}
.project-meta {
  display: flex;
  margin: 0 auto;
}
.project-info {
  margin-top: 2rem;
}
.img-wrap {
  position: relative;
  height: 180px;
  overflow: hidden;
}
.project-img {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}
.project-avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  margin: 1rem;
}
.project-info {
  margin: 1rem;
// text-align: center;
}
.project-description {
  display: flex;
  font-size: 1.2rem;
}
.project-progress {
  margin: .5rem;
  font-size: 2rem;
  letter-spacing: .2rem;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 1rem;
}
