.navbar {
    margin-bottom: 0;
}
.navbar-brand {
  text-align: center;
  font-size: .8rem;
}
.banner {
    position: relative;
    width: 100%;
    height: 60vh;
    top: 0;
    left: 0;
}
.banner-close {
  z-index: 1000;
  position: absolute;
  color: white;
  font-size: 1.5rem;
  margin: 0.5rem;
}
.innerBanner {
    width: 100%;
    height: 60vh;
}
header {
    position: absolute;
    top: 0;
    width: 100%;
}
.headline {
    margin: 0 auto;
    padding-top: 20vh;
    height: 60vh;
    text-align: center;
    color: #FFF;
}
.headlineLink {
    color: rgba(255,255,255,0.85);
    line-height: 30px;
    padding: 1rem;
    border: 1px solid rgba(255,255,255,0.3);
    -webkit-border-radius: 2rem;
    border-radius: 2rem;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.headlineLink:hover {
    background: #fff;
    color: Gray;
}
