/* Fonts
   ----------------------------- */
.true {
  color: #4C9883
}
.dark {
  color: #3A475C
}
.red-accent {
  color: #CD4F43
}
.blue-accent {
  color: #377997
}
.lightblue-accent {
  color: #54879D
}
.purple-accent {
  color: #4B2B5A
}

/* Backgrounds
   ----------------------------- */
.dark-bg {
  background-color: #3A475C
}
.red-bg {
  background-color: #CD4F43
}
.blue-bg {
  background-color: #377997
}
.lightblue-bg {
  background-color: #54879D
}
.purple-bg {
  background-color: #4B2B5A
}
