<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
  <title>Motivate Me</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
  <div ng-controller="AppController">
      <mot-nav logout="logout"></mot-nav>
      <div ui-view logout="logout"></div>
      <!-- <div ui-view="create" ng-show="user.active"></div>
      <div ui-view="login" ng-hide="view.name === 'signup'"></div>
      <div ui-view="signup" ng-show="view.name === 'signup'"></div> -->
  </div>
</body>
</html>




