<section>

    <div class="container"   ng-class-odd=" 'odd' " ng-class-even=" 'even' "
          ng-repeat="project in projects
 			| orderBy: '_id'
			track by project._id ">

        <div class = "item">

            <a href = "{{project.url}}">{{project.name}}</a><br>
            <a> Author is: {{ project.author }}></a><br>
            <a> Comments are: {{project.comments}}</a><br>
            <a> Progress Goals are: {{project.progress}}</a><br>
            <a> Project ID is: {{project._id }}</a><br>

            <button ng-click="viewProjectDetail( project._id )">View Project</button>

        </div>
    </div>
</section>
