<div class="login">
      <div class="login-title">
        <h2>Create an Account:</h2>
        </div>
        <div class="login-form">
            <div class="control-group" ng-class="{ 'has-error' : signupForm.displayName.$invalid && signupForm.displayName.$dirty }">
                <input type="text" name="displayName" ng-model="user.displayName" placeholder="Name" required autofocus>
            </div>

            <div class="control-group" ng-class="{ 'has-error' : signupForm.email.$invalid && signupForm.email.$dirty }">
                <input type="email" id="email" name="email" ng-model="user.email" placeholder="Email" required>
            </div>

            <div class="control-group" ng-class="{ 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
                <input password-strength class="form-control input-lg" type="password" name="password" ng-model="user.password" placeholder="Password" required>
            </div>

            <div class="control-group" ng-class="{ 'has-error' : signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty }">
                <input password-match="user.password" class="form-control input-lg" type="password" name="confirmPassword" ng-model="confirmPassword" placeholder="Confirm Password">
            </div>

            <button class="btn btn-primary btn-large btn-block" ng-click="signupUser()" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-block btn-primary">Sign up</button>
            <br/>
            <p>Already have an account?<p>
            <a class="login-link" ng-click="view.showView('login')"><h2>Log in</h2></a>
        </div>
</div>
