<div>

    <p>Public Single Project View</p>
    <section class="container">

        <h3>{{singleProjectView.name}} </h3>
        <h5>by: {{singleProjectView.author.displayName }}</h5>
        <h5>Started on: {{singleProjectView.time}}</h5>

        <h5>These are the steps I will take to achieve my goal or complete my project.</h5>
        <div ng-repeat="n in singleProjectView.progress track by $index">

            <h5>{{$index +1 }} : {{n}}</h5>
        </div>

        <h5>Support your fellow community members in the space below.</h5>
        <div ng-repeat="comment in comments">
          <!-- <img src="{{comment.author.picture}}">  --><!--We can put a default picture here if user doesn't have twitter profile pic-->
          <b>{{comment.author.displayName}} says:</b>
          {{comment.content}}
        </div>

        <comments comments="comments"></comments>

        <comment-post authed="authed"
                  project-id="singleProjectView._id"
                  comments="comments"></comment-post>
        <button ng-click="returnToFeed()">View All</button>


    </section>
</div>
