<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    motivate<br>
                    <span class="glyphicon glyphicon-heart"></span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-toggle="collapse" data-target=".navbar-collapse" class="navLink" ui-sref="profile">Profile</a></li>
                    <li><a data-toggle="collapse" data-target=".navbar-collapse" class="navLink" ui-sref="feed">Feed</a></li>
                    <!-- ng-show="view.name === 'banner'" -->
                    <li ng-hide="logout"><a data-toggle="collapse" data-target=".navbar-collapse" class="navLink" ui-sref="user">Signin / Signup</a></li>
                    <li ng-show="logout">
                        <logout data-toggle="collapse" data-target=".navbar-collapse" class="navLink"></logout>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
