<div class='banner'>
    <div class='innerBanner' style="background-color: #1F486C"></div>
    <header>
        <div class="headline">
            <h1>MotivateMe</h1>
            <h4>A Social Motivation App</h4>
            <a class="headlineLink" ui-sref="user">Signin / Signup</a>
        </div>
        <nav role='navigation'>
            <ul>
                <li>
                    <a class="navLink" ui-sref="profile">Profile</a>
                </li>
                <li>
                    <a class="navLink" ui-sref="feed">Feed</a>
                </li>
                <li>
                    <logout class="navLink"></logout>
                </li>
            </ul>
        </nav>
    </header>
</div>
