<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">M</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="navLink" ui-sref="profile.projects()">Profile</a></li>
          <li><a class="navLink" ui-sref="feed">Feed</a></li>
        </ul>
      </div>
    </div>
  </nav>
<div class='banner'>
    <div class='innerBanner' style="background-color: #1F486C"></div>
    <header>
        <div class="headline">
            <h1>MotivateMe</h1>
            <h4>A Social Motivation App</h4>
            <a class="headlineLink" ui-sref="user">Signin / Signup</a>
        </div>
    </header>
 </div>
</div>
