<div>
  <a ui-sref="profile" ng-click="active(false)">Projects</a>
  <a ui-sref="profile" ng-click="active(true)">Create</a>
  <p ng-show="savedProject">The project named {{savedProject.name}} was successfully posted</p>
  <form>
    <label>Project Name</label>
    <input name="projectName"
           ng-model="project.name"
           required
           type="text"></input>
    <br />
    <label>Project Milestones</label>
    <input name="projectMilestones"
           ng-model="project.progress"
           required
           type="text"></input>
    <br />
    <button ng-click = "post()" type='submit'>ADD</button>
  </form>
</div>
