<div>
<!--     <h4>{{project.name}}</h4>
        <p>{{project.description}}</p>
        <h4>My Progress:</h4>
        <p >{{progress.content}}</p>
        <h4>Edit</h4> -->
        <section>
            <label>Project Name:</label>
            <input ng-model="project.name"></input>

            <label>Description:</label>
            <textarea ng-model="project.description"></textarea>
            <br />

            <label>Progress:</label>
            <div ng-repeat="progress in project.progress">
               {{progress.content}}
               <input type="checkbox"
                      ng-model="progress.done"
                      ng-change="progress.done">
                      <span ng-show="progress.done">Finished</span>
               </input>
            </div>

        </section>
        <button class="btn" ng-click="update(project)">Save</button>
  </div>
