<div class="content">
    <p class="red-accent"><b>{{message}}</b></p>
    <h4>Project Name:</h4>
    <input ng-model="project.name"></input>

    <h4>Description:</h4>
    <input ng-model="project.description"></input>
    <br />

    <h4>Progress:</h4>
    <div ng-repeat="progress in project.progress">
       {{progress.content}}
       <input type="checkbox"
              ng-model="progress.done"
              ng-change="progress.done"
              class="checkbox">
              <span ng-show="progress.done">Finished</span>
       </input>
    </div>
    <button class="btn-edit" ng-click="update(project)">Save</button>
</div>
