<div>
    <div class="user-profile">
        <!-- <img class="avatar" src={{userData.picture}}></img> -->
        <div class="username">{{userData.displayName}}</div>
        <div class="description">
            <span class="glyphicon glyphicon-heart"></span>
        </div>
    </div>
    <div>
        <uib-tabset active="active">
            <uib-tab index="0" heading="{{userData.displayName}}'s Motivations">
                <project></project>
            </uib-tab>
            <uib-tab index="1" heading="Create">
                <create-project></create-project>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
