<div>
    <div class="user-profile">
        <img class="avatar" src={{userData.picture}}></img>
        <div class="username">{{userData.displayName}}</div>
        <div class="bio">
            Dev or Something
        </div>
        <div class="description">
            I like javascript!
        </div>
        <div class="description">
            <span class="glyphicon glyphicon-heart"> 3</span>
            <span class="glyphicon glyphicon-star"> 6</span>
        </div>
    </div>
    <div>
        <uib-tabset active="active">
            <uib-tab index="0" heading="Projects">
                <div ui-view="project"></div>
            </uib-tab>
            <uib-tab index="1" heading="Create">
                <div ui-view="create"></div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
